.cartbtn{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    
    
}
.favbtn{
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}